body {
    background-image: url(img/da2hawke.jpg);
    color: white;
    font-size: 30px;
    -webkit-text-stroke: 0.7px black;
}

.container {
    padding: 20px;
    min-height: 500px;
}

h1 {
    color: blueviolet;
    text-align: center;
}

.cuadro {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.personajes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space:nowrap;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img {
    width: 150px;
    margin: 5px;
}

.Hawke, .botones {
    display: flex;
    justify-content: center;
    align-items: center;
}

.io {
    display:none;
}

.io.io-responsive {
    display:flex;
    justify-content: center;
    align-items: center;
}

.Hawke.hawke-responsive {
    display:none;
}
.botones.botones-responsive {
    display:none;
}

#imagen {
    width: 300px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}


aside {
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
}

footer {
    text-align: center;
    align-items: flex-end;
    margin: 0;
}



/*Barra de navegación*/
.container-nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    height: 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

nav li {
    display: inline-block;
    margin-right: 20px;
    list-style-type: none;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}
  nav a:hover {
    color: #1BF7DE;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
  
  
.brand {
    display: flex;
    align-items: center;
}
  
  
li>a {
    padding: 8px 24px;
}
  
.nav-links {
    display: flex;
    align-items: center;
}
    
.button-menu-toggle {
    display: none;
}







@media (max-width: 700px) {
    body {
        background-image: url(img/N.jpeg);
    }
  
    img {
        width: 100px;
    }

    .cuadro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .personajes {
        display:inline-flex;
        flex-wrap:nowrap;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
  
    .nav-links {
      display: none;
    }
  
  
    .button-menu-toggle {
        display: block;
        background-color: white;
        border: none;
        border-radius: 50px;
        padding: 0 24px;
        font-family: monospace;
        font-weight: bold;
        font-size: 20px;
        color: #333;
        cursor: pointer;
    }
    
   
    .nav-links.nav-links-responsive {
      position: absolute;
      display: flex;
      background-color: rgba(20,20,20,0.95);
      width: 100%;
      height: 100%;
      top: 70px;
      left: 0;
      flex-direction: column;
      padding-top: 200px;
      align-items: center;
      gap:70px;
      font-size: 40px;
      z-index: 10;
    }
  }